main {
    max-width: 500px;
    margin: auto;
}

table {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: wheat;
}

#keyboard .letterKeyboard {
    border: 1px solid black;
    padding: 0.5em 0.9em;
    margin: 0.2em;
    background-color: white;
    cursor: pointer;
}

#keyboard .letterKeyboard:hover {
    background-color: rgb(167, 165, 165);
}

#imgPenduDiv {
    background: url('./sprite.png');
    width: 145px;
    height: 184px;
    margin: 0.5em auto;
}

#imgPenduDiv.etat0 {
    background-position: -0px;
}
#imgPenduDiv.etat1 {
    background-position: -143px;
}
#imgPenduDiv.etat2 {
    background-position: -285px;
}
#imgPenduDiv.etat3 {
    background-position: -428px;
}
#imgPenduDiv.etat4 {
    background-position: -570px;
}
#imgPenduDiv.etat5 {
    background-position: -713px;
}
#imgPenduDiv.etat6 {
    background-position: -856px;
}
#imgPenduDiv.etat6 {
    background-position: -999px;
}

.fa-triangle-exclamation {
    color: red;
}

.fa-play {
    color: green;
}

#beginGame {
    padding: 1rem 1.2rem;
}

.dark {
    background-color: black;
    color: black;
}