/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: auto;
  margin: 15% 25%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-header h2 {
  margin: 0;
  padding: 1rem;
  background-color: grey;
}
.modal .modal-content, .modal .modal-footer {
  background-color: #999999;
  padding: 20px;
}

/* The Modal Close Button */
.close {
  color: purple;
  float: right;
  font-size: 28px;
  padding-right: 1rem;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Restart btn */
#restartBtn {
  background-color: rgb(95, 12, 95);
  border-radius: 100px;
  box-shadow: rgba(92, 21, 92, 0.2) 0 -25px 18px -14px inset, rgba(92, 21, 92, 0.15) 0 1px 2px, rgba(92, 21, 92, 0.15) 0 2px 4px, rgba(92, 21, 92, 0.15) 0 4px 8px, rgba(92, 21, 92, 0.15) 0 8px 16px, rgba(92, 21, 92, 0.15) 0 16px 32px;
  color: rgb(236, 143, 236);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#restartBtn:hover {
  box-shadow: rgba(146, 35, 146, 0.35) 0 -25px 18px -14px inset, rgba(146, 35, 146, 0.25) 0 1px 2px, rgba(146, 35, 146, 0.25) 0 2px 4px, rgba(146, 35, 146, 0.25) 0 4px 8px, rgba(146, 35, 146, 0.25) 0 8px 16px, rgba(146, 35, 146, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

body {
  text-align: center;
  font-family: "Neuropol x", sans-serif;
}
body header {
  margin: 2rem auto;
  width: 50%;
  text-align: center;
}
body h1 {
  border-bottom: 2px solid purple;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newGameBtn {
  text-align: center;
  display: inline-block;
  margin-bottom: 2rem;
  padding: 15px 20px 15px 20px;
  background-color: lightgrey;
  text-shadow: -1px -1px black, 1px 1px white;
  color: purple;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
#newGameBtn:active, #newGameBtn:hover {
  background-color: rgb(189, 188, 188);
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.score {
  margin: 5px;
  padding: 5px;
}

#elementToFind {
  height: 50px;
  width: 50px;
  margin: 40px auto;
  padding: 5px;
  border: 5px solid purple;
  border-radius: 5px;
  font-size: 3rem;
}

#cardsPlateau {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 15px;
}

.perso {
  background: url(./img/sprite.jpg);
  height: 50px;
  width: 50px;
}
.perso.perso0 {
  background-position: 0px 0px !important;
}
.perso.perso0.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso0.hidden:hover {
  background-color: purple;
}
.perso.perso1 {
  background-position: 50px 50px !important;
}
.perso.perso1.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso1.hidden:hover {
  background-color: purple;
}
.perso.perso2 {
  background-position: 100px 50px !important;
}
.perso.perso2.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso2.hidden:hover {
  background-color: purple;
}
.perso.perso3 {
  background-position: 150px 50px !important;
}
.perso.perso3.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso3.hidden:hover {
  background-color: purple;
}
.perso.perso4 {
  background-position: 200px 50px !important;
}
.perso.perso4.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso4.hidden:hover {
  background-color: purple;
}
.perso.perso5 {
  background-position: 250px 50px !important;
}
.perso.perso5.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso5.hidden:hover {
  background-color: purple;
}
.perso.perso6 {
  background-position: 300px 50px !important;
}
.perso.perso6.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso6.hidden:hover {
  background-color: purple;
}
.perso.perso7 {
  background-position: 350px 100px !important;
}
.perso.perso7.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso7.hidden:hover {
  background-color: purple;
}
.perso.perso8 {
  background-position: 400px 100px !important;
}
.perso.perso8.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso8.hidden:hover {
  background-color: purple;
}
.perso.perso9 {
  background-position: 450px 100px !important;
}
.perso.perso9.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso9.hidden:hover {
  background-color: purple;
}
.perso.perso10 {
  background-position: 500px 100px !important;
}
.perso.perso10.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso10.hidden:hover {
  background-color: purple;
}
.perso.perso11 {
  background-position: 550px 100px !important;
}
.perso.perso11.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso11.hidden:hover {
  background-color: purple;
}
.perso.perso12 {
  background-position: 600px 100px !important;
}
.perso.perso12.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso12.hidden:hover {
  background-color: purple;
}
.perso.perso13 {
  background-position: 650px 150px !important;
}
.perso.perso13.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso13.hidden:hover {
  background-color: purple;
}
.perso.perso14 {
  background-position: 700px 150px !important;
}
.perso.perso14.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso14.hidden:hover {
  background-color: purple;
}
.perso.perso15 {
  background-position: 750px 150px !important;
}
.perso.perso15.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso15.hidden:hover {
  background-color: purple;
}
.perso.perso16 {
  background-position: 800px 150px !important;
}
.perso.perso16.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso16.hidden:hover {
  background-color: purple;
}
.perso.perso17 {
  background-position: 850px 150px !important;
}
.perso.perso17.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso17.hidden:hover {
  background-color: purple;
}
.perso.perso18 {
  background-position: 900px 150px !important;
}
.perso.perso18.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso18.hidden:hover {
  background-color: purple;
}
.perso.perso19 {
  background-position: 950px 200px !important;
}
.perso.perso19.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso19.hidden:hover {
  background-color: purple;
}
.perso.perso20 {
  background-position: 1000px 200px !important;
}
.perso.perso20.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso20.hidden:hover {
  background-color: purple;
}
.perso.perso21 {
  background-position: 1050px 200px !important;
}
.perso.perso21.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso21.hidden:hover {
  background-color: purple;
}
.perso.perso22 {
  background-position: 1100px 200px !important;
}
.perso.perso22.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso22.hidden:hover {
  background-color: purple;
}
.perso.perso23 {
  background-position: 1150px 200px !important;
}
.perso.perso23.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso23.hidden:hover {
  background-color: purple;
}
.perso.perso24 {
  background-position: 1200px 200px !important;
}
.perso.perso24.hidden {
  background: url("./img/question.png");
  background-position: 0 !important;
  cursor: pointer;
  border-radius: 50px;
}
.perso.perso24.hidden:hover {
  background-color: purple;
}

.reboursDiv {
  display: inline-block;
}/*# sourceMappingURL=perfect-game.css.map */